---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CV</h3>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Academic Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <div class="cv-section" style="margin-bottom: 10px;">
            <p class="fw-bold" style="margin-bottom: 5px;">{{ section.title }}</p>
            <p style="margin-bottom: 5px;">{{ section.description }}</p>
          </div>
          {% if forloop.last == false %}
          <hr style="margin: 10px 0;">
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Industry Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.industry-experience %}
          <div class="cv-section" style="margin-bottom: 10px;">
            <p class="fw-bold" style="margin-bottom: 5px;">{{ section.title }}</p>
            <p style="margin-bottom: 5px;">{{ section.description }}</p>
          </div>
          {% if forloop.last == false %}
          <hr style="margin: 10px 0;">
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <div class="cv-section" style="margin-bottom: 10px;">
            <p class="fw-bold" style="margin-bottom: 5px;">{{ section.title }}</p>
            <p style="margin-bottom: 5px;">{{ section.description }}</p>
          </div>
          {% if forloop.last == false %}
          <hr style="margin: 10px 0;">
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </div>
</div>

